@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

/* Common styles */
.com-color{
  color: #FF5400;
}

/* Header section styles */
header {
  width: 100%;
  margin-bottom: 80px;
}
.container{
   width: 80%;
   margin: 0 auto 100px;
}

.toggle{
   display: none;
}

.container-head {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.web-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40%;
}

.nav{
  width: 50%;
}

.web-name {
  color: #131318;
  font-size: 2.30rem;
  font-weight: 800;
}


.ul-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
}

ul li>a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
}

.container-banner{
   height: 650px;
}


.home {
  color: #FF5400;
  font-weight: 700;
}


.banner-head {
  background-image: url('../Images/Banner_header.png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  text-align: center;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding-bottom: 106px;
}

.gradient-head {

  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
  border-radius: 15px;
}

.banner-title {
  padding-top: 150px;
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
}

.banner-text {
  padding-top: 30px;
  color: #FFF;
  margin: 0 auto;
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.option-part {
  width: 70%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin-top: 48px;
}


select,
#text {
  text-indent: 5%;
  text-overflow: '';
  width: 20%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  color: rgba(19, 19, 24, 0.651);
  font-size: 1rem;
}

.btn-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  background: #FF5400;
  width: 20%;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}


/* main section styles */

/* 1st section styles */
.sec-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.text-sec-1,
.image-sec-1 {
  flex: 1;
}

.text-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.sec-title {
  color: #131318;
  font-size: 45px;
  font-weight: 800;
}

.para-2 {
  
  list-style-type: disc;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 26px;

}
.para-3 {
  color: #5A5A5D;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 26px;
}

.ul-sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.8rem;
}

.button-primary {
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
  height: 52px;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.image-sec-1 {
  text-align: right;
}

.image-sec-1>img {
  height: auto;
  width: 600px;
}

/* 2nd section styles */

.common-title{
  color: #131318;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}
.common-para{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  width: 70%;
  margin: 20px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 50px;
}

.container-grid {
  position: relative;
  display: inline-block;
}

.container-grid img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 30px;
  font-weight: 800;
}

 .g1 {
   grid-column: 1/span 6;
 }

 .g2 {
   grid-column: 7/ span 6;
 }

 .g3 {
   grid-column: 1/span 4;
 }

 .g4 {
   grid-column: 5/ span 5;
 }

 .g5 {
   grid-column: 10/ span 3;
 }

 .g6 {
   grid-column: 1/span 5;
 }

 .g7 {
   grid-column: 6/ span 7;
 }

/* 3rd section styles */
.card-div{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
  margin-top: 50px;
}
 .card-details{
  border-radius: 16px;
  
  padding: 35px;
 }
 .card-title{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 20px 0;
 }
 .card-para{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
 }
 .card1{
  grid-column: 1/span 2;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
 }
 .card2{
  grid-column: 3/span 2;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
 }
 .card3{
  grid-column: 2/span 2;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
 }

 /* 3rd section styles */

 /* 3rd section styles */

 /* 4th section styles */
 .po2_container
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 100px;
 
 }
 .po2_txt
 {
     width: 48%;
 }
 .p02
 {
     font-weight: 700;
 }
 .po2_img
 {
     width: 48%;
     height: 500px;
     background-image: url('./Images/Group 40089.png');
     background-repeat: no-repeat;
     object-fit: cover;
     background-size: cover;
     text-align: center;
     background-position: center;
     border-radius: 15px;
     position: relative;
 }
 .po2_img>img
 {
     width: 100%;
     height: 100%;
 }
 .text-overlayop {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: #FFF;
     font-size: 1.5rem;
     font-weight: 700;
 
 }
 .controls
 {
     position: absolute;
     left: 0;
     bottom: 0;
     padding: 20px;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 5px;
 }
 .controls2
 {
     display: flex;
     justify-content: space-between;
     width: 95%;
     margin: 0 auto;
 }
 .fa-pause,.fa-volume-xmark,.fa-expand,.fa-ellipsis-vertical
 {
     color: #FFF;
     cursor: pointer;
 }
 .left,.right
 {
     display: flex;
     gap: 1rem;
     align-items: center;
 }
 .container_grid2 {
     position: relative;
     display: inline-block;
 
 }
 
 /*own section styles  */
 .upcoming{
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
 
 }
 .up-card{
   border: 2px solid tomato;
   border-radius: 20px;
   margin-top: 20px;
   height:550px;
   text-align: center;
   transition: transform ease-in 0.3s;
 }
 .card-country{
   color:#FF5400;
   position: relative;
   bottom: 220px;
   left: 120px;
   width: 50%;
   border-radius: 16px;
   background: rgba(255, 255, 255, 0.30);
   right: 50px;
   font-size: 34px;
 }
 .card-country:hover{
  background-color:#f76b2562;
  color:#fff;
 }

 .pricing{
   font-size: 24px;
   color: #131318;
   font-weight: 800;
  }

 .btn-b{
   width: 80%;
   height: 70px;
   font-size:large;
 }
.up-card:hover{
  transform: scale(1.1);
  z-index: .5;
}
 .up-card>img{
  border-radius: 20px 20px 0px 0px;
   width: 100%;
   height: 75%;
 }

 /* 5th section styles */
 
 .newsletter-grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.newsletter-subscribe{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 50px;
  border-radius: 1rem;
  border: 1px solid #FF5400;
  grid-column: 1/ span 5;
}

.news-h{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.news-p{
  color: #5A5A5D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.newsletter-subscribe>input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  height: 52px;
  border: none;
  text-indent: 5%;
  color: rgba(19, 19, 24, 0.30);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-subs {
  width: 100%;
}

.save{
  font-size: 40px; 
  font-weight: 700;
}
.tra-p{
  font-size: 28px;
}
.img-news {
  grid-column: 6/ span 7;
  position: relative;
}

.img-news>img {
  width: 100%;
  height: 100%;
}
.discount{
  background-color: #FF5400;
  position: absolute;
  border-radius: 15px;
  right: 3%;
  bottom: 13%;
  transform: rotate(-25deg);
  color: #FFF;
  padding: 1.5rem 2rem;
  text-align: center;
}




 /* Footer section styles */

 .footer-section{
   display: flex;
   align-items: center;
   background: rgba(19, 19, 24, 0.05);
   height: 600px;
   width: 100%;
   text-align: center;
 }
  .footer{
    padding-top: 100px;
    margin: 0 auto;
  }
  .web-name{
    margin-left: 20px;
  }

  .foot-logo{
      display: flex;
      justify-content: center;
  }
  #foot-p{
     width: 50%;
  }
  .fa-brands{
    font-size: 30px;
    margin: 50px 20px;
  }
  .hr{
    margin: 0 auto;
    width: 70%;
    color: rgba(223, 223, 233, 0.705);
  }
  .all{
    padding: 50px;
    font-family: 'Inter' sans-serif;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
  }